.tableContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  background-color: #ff4081;
  padding: 32px;
  border-radius: 16px;
}
.tableContainer div p {
  margin: 0px;
  text-align: center;
}
.tableContainer div h6 {
  text-align: center;
  color: white;
}

.tableContainer div p {
  font-weight: 600;
}
